
// Variables de colores
$color1: #119DA4; //botones
$color2: #0C7489; //fondos intermedios, íconos
$color3: #13505B; //fondos oscuros
$color4: #040404;
$color5: #D7D9CE;  //fondos claros
$color6: #fff;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PÁGINA APLICACIONES */
.header-aplicaciones {
    background: linear-gradient(to bottom, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3)), url(../assets/images/casa-foa.webp);
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    align-items: center;
}

.market {
    display: block;
    width: 100%;
    max-width: 100%;
}

.market1,
.market2,
.market3 {
    display: flex;
}

.img-market1 {
    background-image: url(../assets/images/cultura.webp);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.img-market2 {
    background-image: url(../assets/images/arquitectura2.webp);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.img-market3 {
    background-image: url(../assets/images/arquitectura.webp);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.text-market {
    width: 100%;
}

.text-market p,
.text-market h3 {
    padding: 30px;
}

.franja {
    background-color: $color5;
    width: 100%;
    height: 20px;
}

/* PROYECTOS DESTACADOS */
.image-aplicaciones1 {
    background-image: url(../assets/images/prisma2.webp);
}

.image-aplicaciones2 {
    background-image: url(../assets/images/guemes.webp);
}

.image-aplicaciones3 {
    background-image: url(../assets/images/raghsa.webp);
}

