
/* COMIENZO DE MEDIA QUERIES */

@media only screen and (min-width: 320px) and (max-width: 450px) {
    h1 {
        font-size: 35px;
    }
}

@media only screen and (min-width: 340px) {
    .projects-card {
        height: 850px;
    }
}

@media only screen and (min-width: 380px) {
    .projects-card {
        height: 820px;
    }
}

@media only screen and (min-width: 440px) {
    .rectangle {
        height: 55px;
        width: 300px;
    }
    .header-color {
        font-size: 42px;
    }

    .projects-card {
        height: 720px;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 180px);
        grid-template-areas:
            "img1 img2"
            "img3 img3"
            "img4 img5"
            "img6 img7"
            "img6 img8";
    }
}

@media only screen and (min-width:320px) and (max-width:768px) {

    .nleft {
        width: 100%;
        height: 20px;
        text-align: center;
    }

    .nright {
        width: 100%;
        padding: 40px;
    }

    .market {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .market1,
    .market3 {
        display: grid;
    }

    .market2 {
        display: grid;

        .sec {
            &:nth-child(1) {
                order: 2;
            }
        }
    }
}


@media only screen and (min-width: 576px) {
    .carousel-caption {
        width: 60%;

        h2 {
            font-size: 30px !important;
        }
    }

    .projects-card {
        height: 680px;
    }

    .newsletter input {
        width: 35%;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .carousel-caption {
        width: 60%;

        h2 {
            font-size: 35px !important;
        }
    }

    .description-home {
        display: flex;
        align-items: center;
    }

    .nleft {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .nright {
        width: 100%;
        padding: 40px;
        text-align: left;
    }

    .projects-card {
        height: 620px;
    }

    .menu-footer a:hover {
        color: #13505B;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 180px);
        grid-template-areas:
            "img1 img2 img2"
            "img1 img3 img4"
            "img5 img3 img6"
            "img7 img7 img8";
    }
}


@media only screen and (min-width:1024px) {
    .button a.hover {
        background-color: #D7D9CE;
        color: #040404;
    }

    .menu-footer a:hover {
        color: #13505B;
    }

    .description-home {
        display: flex;
        align-items: center;
    }

    .nleft {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .nright {
        width: 100%;
        padding: 60px 70px 50px 0;
        text-align: left;
    }

    .carousel-caption {
        width: 50%;

        h2 {
            font-size: 40px !important;
        }
    }

    .projects-title {
        text-align: left;
        padding-left: 20px;
    }

    .projects-card {
        display: flex;
        width: 90%;
        padding: 10px 20px;
        height: 600px;
    }

    .card-image {
        min-height: 250px;
        width: 100%;
    }

    .card-text {
        width: 100%;
        padding: 30px;
        text-align: left;
    }

    .card-province {
        padding: 10px 0 20px 0;
    }

    .newsletter {
        display: flex;
        justify-content: space-around;
    }

    .newsletter input {
        width: 100%;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 400px);
        grid-template-areas:
            "img1 img2 img3 img3"
            "img1 img4 img5 img6"
            "img7 img8 img8 img6";
    }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
    .card {
        width: 80%;
    }
}

@media only screen and (min-width:1300px){
    .projects-card {
        height: 500px;
    }
}


@media only screen and (min-width:1400px) {
    .newsletter input {
        width: 100%;
    }

    .projects-card {
        width: 100%;
    }
}