@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
/* Títulos y footer: "Dosis", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap");
/* Párrafo y subtítulos: "Inter Tight", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Enlaces y botonoes: font-family: "Poppins", sans-serif; */
/* PÁGINA NOSOTROS */
.header-nosotros {
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3)), url(../assets/images/cck6.webp);
  background-size: cover;
  background-position: center;
  height: 650px;
}

.description-center {
  display: block;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.description-center h2 {
  padding: 15px 0;
}

.picture {
  background-image: url(../assets/images/cck3.webp);
  background-size: cover;
  background-position: center;
  height: 450px;
}

/* COMO TRABAJAMOS */
.work {
  font-family: "Dosis", sans-serif;
  padding: 20px 0 30px;
  background-color: #fff;
}

.work h2 {
  padding: 20px;
}

.work ul {
  list-style: none;
  display: inline-block;
  text-align: center;
}

.work h4 {
  padding: 30px;
  font-size: 20px;
}

.work p {
  padding: 0 25px;
}

.img {
  padding-top: 30px;
}

.work-image1 {
  background-image: url(../assets/icons/diseño.webp);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.work-image2 {
  background-image: url(../assets/icons/anteproyecto.webp);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.work-image3 {
  background-image: url(../assets/icons/proyecto.webp);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.work-image4 {
  background-image: url(../assets/icons/puesta-en-marcha.webp);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.work-image5 {
  background-image: url(../assets/icons/postventa.webp);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

/* NUESTRO EQUIPO */
.team {
  background-color: #0C7489;
  width: 100%;
  height: 100%;
  display: grid;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
}

.team h2 {
  padding: 20px 0;
}

.team-image1 {
  background-image: url(../assets/images/laura.webp);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.team-image2 {
  background-image: url(../assets/images/mariano.webp);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.team-image3 {
  background-image: url(../assets/images/marcos.webp);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.team-image4 {
  background-image: url(../assets/images/luciano.webp);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

/* NUESTRA HISTORIA */
.image-nosotros {
  background-image: url(../assets/images/vino.webp);
}

/* PÁGINA APLICACIONES */
.header-aplicaciones {
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3)), url(../assets/images/casa-foa.webp);
  background-size: cover;
  background-position: center;
  height: 650px;
}

.market {
  display: block;
  width: 100%;
  max-width: 100%;
}

.market1, .market2, .market3 {
  display: flex;
}

.img-market {
  width: 100%;
}

.img-market img {
  width: 100%;
}

.img-market1 {
  background-image: url(../assets/images/cultura.webp);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.img-market2 {
  background-image: url(../assets/images/arquitectura2.webp);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.img-market3 {
  background-image: url(../assets/images/arquitectura.webp);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.text-market {
  width: 100%;
}

.text-market p, .text-market h3 {
  padding: 30px;
}

.franja {
  background-color: #D7D9CE;
  width: 100%;
  height: 20px;
}

/* PROYECTOS DESTACADOS */
.image-aplicaciones {
  background-image: url(../assets/images/prisma2.webp);
}

/* PÁGINA PROYECTOS */
.header-proyectos {
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3)), url(../assets/images/auto.webp);
  background-size: cover;
  background-position: center;
  height: 650px;
}

.filtro {
  display: flex;
  justify-content: space-around;
  width: 100% !important;
}

.menu-filtro a {
  color: #000 !important;
}

.projects-gallery {
  padding: 20px;
}

/* PÁGINA CONTACTO: FORMULARIO */
.header-contacto {
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3)), url(../assets/images/explora-salta2.webp);
  background-size: cover;
  background-position: center top !important;
  height: 650px;
}

.formulario input, label, textarea {
  display: block;
  width: 100%;
  padding: 5px;
}

.formulario {
  padding: 20px 60px;
}

.formulario div {
  padding: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
  h1 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* .galeria{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 180px);
  } */
  .nleft {
    width: 100%;
    height: 20px;
    text-align: center;
  }
  .nright {
    width: 100%;
    padding: 40px;
  }
}
@media only screen and (min-width: 576px) {
  .slider-info {
    width: 80%;
  }
  .slider-info h2 {
    font-size: 35px;
  }
  .newsletter input {
    width: 35%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .slider-info {
    width: 50%;
  }
  .slider-info h2 {
    font-size: 40px;
  }
  .description-home {
    display: flex;
    align-items: center;
  }
  .nleft {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .nright {
    width: 100%;
    padding: 40px;
    text-align: left;
  }
  .menu-footer a:hover {
    color: #13505B;
  }
  /*.galeria{
      grid-template-columns: 1fr 1fr 1fr;
  }

  .item1{
      grid-column: 1/3;
      grid-row: 1/2;
  }

  .item2{
      grid-column: 3/4;
      grid-row: 1/2;
  }

  .item3{
      grid-column: 1/2;
      grid-row: 2/3;
  }

  .item4{
      grid-column: 2/4;
      grid-row: 2/3;
  }

  .item5{
      grid-column: 1/3;
      grid-row: 3/4;
  }
  .item6{
      grid-column: 3/4;
      grid-row: 3/4;
  }

  .item7{
      grid-column: 1/2;
      grid-row: 4/5;
  }
  .item8{
      grid-column: 2/4;
      grid-row: 4/5;
  }*/
}
@media only screen and (min-width: 1024px) {
  .button a.hover {
    background-color: #D7D9CE;
    color: #040404;
  }
  .menu-footer a:hover {
    color: #13505B;
  }
  .description-home {
    display: flex;
    align-items: center;
  }
  .nleft {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .nright {
    width: 100%;
    padding: 60px 70px 50px 0;
    text-align: left;
  }
  .slider-info {
    width: 50%;
  }
  .projects-title {
    text-align: left;
    padding-left: 20px;
  }
  .projects-card {
    display: flex;
    width: 80%;
    padding: 10px 20px;
  }
  .card-image {
    min-height: 250px;
    width: 100%;
  }
  .card-text {
    width: 100%;
    padding: 30px;
    text-align: left;
  }
  .card-province {
    padding: 10px 0 20px 0;
  }
  .newsletter {
    display: flex;
    justify-content: space-around;
  }
  .newsletter input {
    width: 100%;
  }
  /* .galeria{
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2, 180px);
  } */
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .card {
    width: 80%;
  }
}
@media only screen and (min-width: 1400px) {
  .newsletter input {
    width: 100%;
  }
  .projects-card {
    width: 70%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

/* NAV BAR */
.navbar {
  background-color: hsla(0deg, 0%, 2%, 0.898);
}

.logo {
  height: 50px;
}

.nav-link {
  color: #fff !important;
  font-size: 14px !important;
  font-family: "Poppins", sans-serif !important;
}

.nav-link a:hover {
  color: #119DA4;
}

.navbar-toggler {
  color: #fff;
}

/* TEXTO */
h1 {
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-size: 45px;
  color: #fff;
}

h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: "Inter Tight", sans-serif;
}

.lateral {
  text-align: left;
  margin: 20px;
}

.center {
  text-align: center;
}

p {
  font-family: "Inter Tight", sans-serif;
}

.bold {
  font-weight: bold;
}

/* BOTONES */
.button {
  background-color: #119DA4;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  padding: 5px 20px;
  border-radius: 2px;
}

/* FOTO PORTADA */
.header-home {
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3)), url(../assets/images/mundo.webp);
  background-size: cover;
  background-position: center;
  height: 650px;
  display: flex;
  align-items: center;
}

.header-title {
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-size: 45px;
  color: #040404;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  padding-left: 50px;
  width: 80%;
}

/* TEXTO DESCRIPCIÓN HOME */
.nleft {
  padding: 40px 0 20px;
}

.nright {
  width: 100%;
  text-align: center;
  padding: 30px;
}

/* SLIDER APLICACIONES DEL HOME */
.carousel-inner1 {
  width: 100%;
  height: 700px;
  padding-bottom: 50px;
}
.carousel-inner1 .carousel-item {
  width: 100%;
  height: 100%;
}
.carousel-inner1 .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel-inner1 .carousel-item::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.432), rgba(39, 39, 39, 0.3));
  z-index: 1;
  mix-blend-mode: multiply;
}
.carousel-inner1 .carousel-item .carousel-caption {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 2;
}
.carousel-inner1 .carousel-item .carousel-caption h2 {
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  text-shadow: 0 0 5px #040404;
  text-transform: uppercase;
  padding-bottom: 40px;
}

/* FICHAS CASOS DE ÉXITO */
.projects-title {
  padding-top: 40px;
}

.projects {
  padding: 30px;
  display: grid;
  place-items: center;
}

.projects-card {
  border: 3px solid #13505B;
  width: 100%;
  height: 1150px;
  padding: 10px 10px;
  background-color: #f1f1ef;
}

.card-image {
  min-height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.image-home1 {
  background-image: url(../assets/images/explora-salta.webp);
}

.image-home2 {
  background-image: url(../assets/images/casa-foa2.webp);
}

.image-home3 {
  background-image: url(../assets/images/museo-del-deporte.webp);
}

.card-text {
  width: 100%;
  padding: 5;
  text-align: center;
}

.card-title {
  padding-top: 15px;
}

.card-province {
  padding: 10px 0 20px 0;
}

/* FOOTER */
footer {
  background-color: #D7D9CE;
}

.newsletter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 60px);
  text-align: center;
  width: 100%;
  margin-top: 5%;
  padding: 10px 0;
  background-color: #13505B;
  color: #fff;
}

.newsletter .item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.item1 {
  font-size: 7px;
}

.newsletter input {
  width: 50%;
  height: 25px;
}

.footer {
  padding: 30px;
}

.social-icons {
  text-align: center;
  padding: 30px;
}

.social-icons a {
  color: #0C7489;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 8px;
}

.menu-footer {
  align-items: center;
  text-align: center;
  font-family: "Dosis", sans-serif;
  padding: 20px 0 40px;
}

.menu-footer ul {
  list-style: none;
  display: inline-block;
  text-align: center;
}

.menu-footer a {
  text-decoration: none;
  color: #040404;
}

.copyright {
  font-size: 15px;
  padding-top: 10px;
}

/* PÁGINA NOSOTROS */
.header-nosotros {
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3)), url(../assets/images/cck6.webp);
  background-size: cover;
  background-position: center;
  height: 650px;
}

.description-center {
  display: block;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.description-center h2 {
  padding: 15px 0;
}

.picture {
  background-image: url(../assets/images/cck3.webp);
  background-size: cover;
  background-position: center;
  height: 450px;
}

/* COMO TRABAJAMOS */
.work {
  font-family: "Dosis", sans-serif;
  padding: 20px 0 30px;
  background-color: #fff;
}

.work h2 {
  padding: 20px;
}

.work ul {
  list-style: none;
  display: inline-block;
  text-align: center;
}

.work h4 {
  padding: 30px;
  font-size: 20px;
}

.work p {
  padding: 0 25px;
}

.img {
  padding-top: 30px;
}

.work-image1 {
  background-image: url(../assets/icons/diseño.webp);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.work-image2 {
  background-image: url(../assets/icons/anteproyecto.webp);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.work-image3 {
  background-image: url(../assets/icons/proyecto.webp);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.work-image4 {
  background-image: url(../assets/icons/puesta-en-marcha.webp);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.work-image5 {
  background-image: url(../assets/icons/postventa.webp);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

/* NUESTRO EQUIPO */
.team {
  background-color: #0C7489;
  width: 100%;
  height: 100%;
  display: grid;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
}

.team h2 {
  padding: 20px 0;
}

.team-image1 {
  background-image: url(../assets/images/laura.webp);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.team-image2 {
  background-image: url(../assets/images/mariano.webp);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.team-image3 {
  background-image: url(../assets/images/marcos.webp);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.team-image4 {
  background-image: url(../assets/images/luciano.webp);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

/* NUESTRA HISTORIA */
.image-nosotros1 {
  background-image: url(../assets/images/vino.webp);
  background-position: right !important;
}

.image-nosotros2 {
  background-image: url(../assets/images/temaiken.webp);
}

.image-nosotros3 {
  background-image: url(../assets/images/mushal.webp);
}

/* PÁGINA APLICACIONES */
.header-aplicaciones {
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3)), url(../assets/images/casa-foa.webp);
  background-size: cover;
  background-position: center;
  height: 650px;
}

.market {
  display: block;
  width: 100%;
  max-width: 100%;
}

.market1,
.market2,
.market3 {
  display: flex;
}

.img-market1 {
  background-image: url(../assets/images/cultura.webp);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.img-market2 {
  background-image: url(../assets/images/arquitectura2.webp);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.img-market3 {
  background-image: url(../assets/images/arquitectura.webp);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.text-market {
  width: 100%;
}

.text-market p,
.text-market h3 {
  padding: 30px;
}

.franja {
  background-color: #D7D9CE;
  width: 100%;
  height: 20px;
}

/* PROYECTOS DESTACADOS */
.image-aplicaciones1 {
  background-image: url(../assets/images/prisma2.webp);
}

.image-aplicaciones2 {
  background-image: url(../assets/images/guemes.webp);
}

.image-aplicaciones3 {
  background-image: url(../assets/images/raghsa.webp);
}

/* PÁGINA PROYECTOS */
.header-proyectos {
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3)), url(../assets/images/auto.webp);
  background-size: cover;
  background-position: center;
  height: 650px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 200px);
  grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8";
  grid-gap: 15px;
  padding: 20px;
}
.gallery .item {
  background-color: #040404;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  transition: all 0.7s;
  border: #040404;
}
.gallery .item h5 {
  color: transparent;
  padding: 0 10px;
}
.gallery .item:hover {
  transform: scale(1.09);
}
.gallery .item:hover h5 {
  color: #ffffff;
  text-shadow: 0 0 5px #040404;
  font-size: 28px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery .item1 {
  grid-area: img1;
  background-image: url(../assets/gallery/don-bosco.webp);
}
.gallery .item2 {
  grid-area: img2;
  background-image: url(../assets/gallery/museo-de-la-constitución2.webp);
}
.gallery .item3 {
  grid-area: img3;
  background-image: url(../assets/gallery/les-visitan1.webp);
}
.gallery .item4 {
  grid-area: img4;
  background-image: url(../assets/gallery/franciscus.webp);
}
.gallery .item5 {
  grid-area: img5;
  background-image: url(../assets/gallery/google.webp);
}
.gallery .item6 {
  grid-area: img6;
  background-image: url(../assets/gallery/prisma.webp);
}
.gallery .item7 {
  grid-area: img7;
  background-image: url(../assets/gallery/malvinas3.webp);
}
.gallery .item8 {
  grid-area: img8;
  background-image: url(../assets/gallery/san-francsico2.webp);
  background-position: bottom;
}

/* PÁGINA CONTACTO: FORMULARIO */
.header-contacto {
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3)), url(../assets/images/explora-salta2.webp);
  background-size: cover;
  background-position: center top !important;
  height: 650px;
}

.contacto {
  padding: 20px 20px;
}

.map {
  padding-top: 60px;
}

.formulario input,
label,
textarea {
  display: block;
  width: 100%;
  padding: 5px;
}

.formulario {
  padding: 20px 20px;
}

.formulario div {
  padding: 10px;
}

/* COMIENZO DE MEDIA QUERIES */
@media only screen and (min-width: 320px) and (max-width: 450px) {
  h1 {
    font-size: 35px;
  }
}
@media only screen and (min-width: 340px) {
  .projects-card {
    height: 1050px;
  }
}
@media only screen and (min-width: 380px) {
  .projects-card {
    height: 910px;
  }
}
@media only screen and (min-width: 440px) {
  .projects-card {
    height: 820px;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 180px);
    grid-template-areas: "img1 img2" "img3 img3" "img4 img5" "img6 img7" "img6 img8";
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nleft {
    width: 100%;
    height: 20px;
    text-align: center;
  }
  .nright {
    width: 100%;
    padding: 40px;
  }
  .market {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .market1,
.market3 {
    display: grid;
  }
  .market2 {
    display: grid;
  }
  .market2 .sec:nth-child(1) {
    order: 2;
  }
}
@media only screen and (min-width: 576px) {
  .carousel-caption {
    width: 60%;
  }
  .carousel-caption h2 {
    font-size: 30px !important;
  }
  .projects-card {
    height: 720px;
  }
  .newsletter input {
    width: 35%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .carousel-caption {
    width: 60%;
  }
  .carousel-caption h2 {
    font-size: 35px !important;
  }
  .description-home {
    display: flex;
    align-items: center;
  }
  .nleft {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .nright {
    width: 100%;
    padding: 40px;
    text-align: left;
  }
  .projects-card {
    height: 620px;
  }
  .menu-footer a:hover {
    color: #13505B;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 180px);
    grid-template-areas: "img1 img2 img2" "img1 img3 img4" "img5 img3 img6" "img7 img7 img8";
  }
}
@media only screen and (min-width: 1024px) {
  .button a.hover {
    background-color: #D7D9CE;
    color: #040404;
  }
  .menu-footer a:hover {
    color: #13505B;
  }
  .description-home {
    display: flex;
    align-items: center;
  }
  .nleft {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .nright {
    width: 100%;
    padding: 60px 70px 50px 0;
    text-align: left;
  }
  .carousel-caption {
    width: 50%;
  }
  .carousel-caption h2 {
    font-size: 40px !important;
  }
  .projects-title {
    text-align: left;
    padding-left: 20px;
  }
  .projects-card {
    display: flex;
    width: 80%;
    padding: 10px 20px;
  }
  .card-image {
    min-height: 250px;
    width: 100%;
  }
  .card-text {
    width: 100%;
    padding: 30px;
    text-align: left;
  }
  .card-province {
    padding: 10px 0 20px 0;
  }
  .newsletter {
    display: flex;
    justify-content: space-around;
  }
  .newsletter input {
    width: 100%;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 400px);
    grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img8 img8 img6";
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .card {
    width: 80%;
  }
}
@media only screen and (min-width: 1400px) {
  .newsletter input {
    width: 100%;
  }
  .projects-card {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */